@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Chirp";
        font-style: normal;
        font-weight: 700;
        src: url("./fonts/chirp-bold-web.woff");
    }

    @font-face {
        font-family: "Chirp";
        font-style: normal;
        font-weight: 800;
        src: url("./fonts/chirp-heavy-web.woff");
    }

    @font-face {
        font-family: "Chirp";
        font-style: normal;
        font-weight: 500;
        src: url("./fonts/chirp-medium-web.woff");
    }

    @font-face {
        font-family: "Chirp";
        font-style: normal;
        font-weight: 400;
        src: url("./fonts/chirp-regular-web.woff");
    }
}